/* -- variables -- */
$pinkcolor: rgba(221, 74, 99, 0.719);
$lightpink: rgb(240, 209, 214);
$greycolor: rgb(102, 101, 101);
$bluecolor: rgba(66, 80, 160, 0.555);
$indiefont: "indie_flowerregular";

body {
    background-image: url("../img/concrete_seamless.png");
    background-repeat: repeat;
    margin: auto;
}

.format__mobile {
    display: none;
}