body 
{
    margin: auto;
    line-height: 3rem;
    font-family: sans-serif;
    background-color: #bac1d4b9;
}

@font-face {
    font-family: 'indie_flowerregular';
    src: url('IndieFlower-webfont.eot');
    src: url('IndieFlower-webfont.eot?#iefix') format('embedded-opentype'),
         url('IndieFlower-webfont.woff2') format('woff2'),
         url('IndieFlower-webfont.woff') format('woff'),
         url('IndieFlower-webfont.ttf') format('truetype'),
         url('IndieFlower-webfont.svg#indie_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal; }

.divider 
{
    height: .2rem;
    background-image: radial-gradient(circle, #0b8c8b, #0080a3, #006db6, #4151af, #861a87);
    margin-top: 1.5rem;
}

h2
{
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    background-image: radial-gradient(circle, #0b8c8b, #0080a3, #006db6, #4151af, #861a87);
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

h3
{
    text-align: center;
    font-family: 'indie_flowerregular';
    font-size: 1.5rem;
    margin-top: .5rem;
}

p
{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

main
{
    width:85%;
    background-color: rgb(255, 255, 255);
    margin: auto;

}