.contact__txt
{
    text-align: center;
    line-height: 1.2rem;
    width: 80%;
    margin: auto;
}

.contact__contact
{
    line-height: 1rem;
}

.contact__logo
{
    width: 8%;
    border-radius: 50%;
    margin-right: .2rem;
}

@media screen and (min-width:760px)
{
    .contact__logo
    {
    width: 5%;
    border-radius: 50%;
    }
}