.contact__txt
{
    text-align: center;
    line-height: 1.2rem;
    width: 80%;
    margin: auto;
}

.contact__contact
{
    line-height: 1rem;
}

.contact__logo
{
    width: 4%;
    border-radius: 50%;
}