footer
{
    background-image: url("../img/10612.jpg");
    background-size: cover;
    padding: 1.5rem;
    text-align: right;
}

.footer__logo
{
    width: 15%;
}

@media screen and (min-width:760px)
{
    .footer__logo
    {
    width: 9%;
    }
}