footer
{
    background-image: url("../img/10612.jpg");
    background-size: cover;
    padding: 1.5rem;
    text-align: right;
}

.footer__logo
{
    width: 15%;
}

@media screen and (min-width:760px)
{
    .footer__logo
    {
    width: 9%;
    }
}

.pdf__cv {
    background-color: white;
    border-radius: 15%;
    padding: 2vh;
    background-image: radial-gradient(circle, #0b8c8b, #0080a3, #006db6, #4151af, #861a87);
}

a.pdf__cv {
    text-decoration: none;
    color: white;
}