/* - - variables - - */
$violetcolor: rgb(82, 41, 90);
$greycolor: rgb(85, 82, 82);
$indiefont: 'indie_flowerregular';

header
{
    background-image: url("../img/10612.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 10rem;
}

.main__global
{
    background-color: rgba(255, 255, 255, 0.459);
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 70%;
    margin: auto;
}

h1 
{
    font-family: sans-serif;
    color: $violetcolor;
    font-weight: 100;
    font-size: 3rem;
}

.main__slogan
{
    color: $greycolor;
    font-family: $indiefont;
    font-size: 1.2rem;
}

/* - - navbar - - */

.navbar
{
    word-spacing: 1.2rem;
    
}

li.navli
{
    display: inline;
    
}

.navli a
{
    color: black;
}