/* -- variables -- */
$pinkcolor: rgba(221, 74, 99, 0.719);
$lightpink: rgb(240, 209, 214);
$greycolor: rgb(102, 101, 101);
$bluecolor: rgba(66, 80, 160, 0.555);
$indiefont: "indie_flowerregular";


/* -- navbar */
.navigation {
    background-color: rgba(255, 255, 255, 0.932);
    position: fixed;
    opacity: 0.8;
    padding-top: .5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    z-index: 1;
    word-spacing: 2rem;
    text-align: center;
    padding-left: .5rem; 
}

li.navli {
    display: inline-flex;
    flex-wrap: wrap;
    top: .6rem;
    font-size: 1.3rem;
    font-family: $indiefont;
    font-weight: bold;
}

.navli a {
    margin: auto;
    color: $greycolor;
}

.navli a:hover {
    background-color: $greycolor;
    padding: .2rem;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}

.navli a:active {
    background-color: white;
    text-decoration: none;
    color: $greycolor;
}
