/* -- variables -- */
$pinkcolor: rgba(221, 74, 99, 0.719);
$lightpink: rgb(240, 209, 214);
$greycolor: rgb(102, 101, 101);
$browncolor: rgba(87, 55, 41, 0.822);
$indiefont: "indie_flowerregular";


.headerimg {
    background-image: url("../img/91336.jpg");
    background-size: cover;
    text-align: center;
    height: 650px;
    padding-bottom: 18vh;
    width: 100%;
}

.header__title {
    font-family: sans-serif;
    color: rgb(48, 9, 80);
    font-weight: 100;
    font-size: 3.2rem;
    position: relative;
    top: 12rem;
}

.header__title--mini {
    font-family: $indiefont;
    color: rgb(78, 76, 76);
    font-weight: 100;
    margin: auto;
    position: relative;
    top: 11rem;
    font-size: 1.5rem;
}

.profil__top {
    position: relative;
    top: 5.2rem;
}

.top__global {
    text-align: center;
    margin: auto;
}