/* -- variables -- */
$pinkcolor: rgba(221, 74, 99, 0.719);
$lightpink: rgb(240, 209, 214);
$greycolor: rgb(102, 101, 101);
$bluecolor: rgba(66, 80, 160, 0.555);
$indiefont: "indie_flowerregular";




.header__title {
    background-image: url("../img/wallpaper.wiki-Water-Drop-Awesome-3D-Background-Full-HD-PIC-WPC0010480.jpg");
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    transition-duration: 2s;
}


.header__title--main {
    border-radius: 10% 25%;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: $indiefont;
    font-size: 1.4rem;
    color:  rgb(255, 255, 255);
}

.divider {
    height: .2rem;
    background-image: linear-gradient(to left, #1d2274, #811675, #c11a60, #e54f3f, #eb8b12);
}