/* -- variables -- */
$pinkcolor: rgba(221, 74, 99, 0.438);
$lightpink: rgb(240, 209, 214);
$greycolor: rgb(102, 101, 101);
$browncolor: rgba(87, 55, 41, 0.822);
$indiefont: "indie_flowerregular";

li.navli {
    color: rgb(255, 255, 255);
    display: inline;
    text-transform: uppercase;
}

.navbar {
    position: relative;
    top: 5rem;
    background-color:  rgba(255, 255, 255, 0.397);
    word-spacing: 1rem;
    width: 50%;
    height: 2rem;
}
