/* - - navbar - - */

.navbar
{
    word-spacing: 1.2rem;
    position: fixed;
    background-color: black;
    z-index: 1;
    width: 100%;
    text-align: center;
    
}

.contact__navbar
{
    position: relative;
    float: right;
    width: 4%;
    border-radius: 50%;
    margin-top:.2rem;
    margin-right: .2rem;
    margin-left: .2rem;
}

@media screen and (max-width:600px) {

    .contact__navbar {
    width: 35px;
    }
}

a.navli
{
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    margin: .5rem;
}
    


a.navli:hover
{
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.623);
    padding: .4rem;
}

.navli a:active 
{
    color: rgb(90, 14, 65);
}