/* -- variables -- */
$pinkcolor: rgba(221, 74, 99, 0.719);
$lightpink: rgb(240, 209, 214);
$greycolor: rgb(128, 127, 127);
$bluecolor: rgba(66, 80, 160, 0.555);
$indiefont: "indie_flowerregular";

h2 {
    font-family: $indiefont;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

p {
    font-family: sans-serif;
    color: black;
    text-align: justify;
    font-weight: 100;
}

.profil__img {
    width: 80%;
    height: 100%;
    border: 1px solid rgb(56, 12, 56);
    padding: 1rem;
    border-radius: 10%;
}

.present__self {
    margin-top: 2rem;
    padding: 0.4rem;
}