.project__img
{
    width: 100%;
}

.projet__bem
{
    line-height: 1.5rem;
    text-align: justify;
}

.projets__encours
{
    line-height: 1.5rem;
}

@media screen and (min-width:760px)
{

    .projet__bem
    {
    line-height: 1.5rem;
    text-align: justify;
    width: 30%;
    }
}